.hero-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: inherit;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.hero-globe {
  position: absolute;
  z-index: -1;
  bottom: 120px;
}

.hero-grid {
  position: absolute;
  bottom: -200px;
  left: -400px;
  width: 1200px;
  height: 400px;
  z-index: -2;
}

.video {
  width: 500px;
  height: 500px;
}

.statue-man {
  width: 40%;
  position: absolute;
  left: -5%;
  bottom: -15%;
}
.statue-woman {
  width: 45%;
  position: absolute;
  right: -10%;
  bottom: -10%;
}

@media screen and (max-width: 1000px) {
  .statue-man {
    bottom: -10%;
  }
}
@media screen and (max-width: 756px) {
  .statue-man {
    left: -15%;
    bottom: -8%;
    width: 50%;
  }
  .statue-woman {
    right: -15%;
    bottom: -5%;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .statue-man {
    left: 12%;
    top: -1%;
    width: 40%;
  }
  .statue-woman {
    right: 12%;
    top: 0;
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    margin-top: 115px;
  }
}

.address {
  background: white;
  margin-top: 75px;
}

.button {
  padding: 20px 40px;
  border-radius: 25px;
  background: none;
  border: solid 5px gray;
}
