.popup-window {
  min-width: 40vw;
  max-width: 60vw;
  /* min-height: 400px; */
  outline: solid 4px #ffffff;
  z-index: 2;
  position: relative;
}

.popup-window-header {
  height: 40px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(90deg, #fb76ed, #8218ff);
}

.popup-window-body {
  z-index: 2;
  padding: 0 30px;
  padding-bottom: 40px;
  width: 100%;
  height: calc(100% - 40px);
  outline: solid 2px #d4d4ef;
  background: linear-gradient(45deg, #1f044c, #003480);
  display: flex;
  align-items: center;
  flex-direction: column;
}
