.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
}

.popup-window {
  width: 400px;
  height: 400px;
  outline: solid 4px #ffffff;
  z-index: 2;
  position: relative;
}

.popup-window-header {
  height: 40px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(90deg, #fb76ed, #8218ff);
}

.popup-window-body {
  z-index: 2;
  width: 100%;
  height: calc(100% - 40px);
  outline: solid 2px #d4d4ef;
  background: linear-gradient(45deg, #1f044c, #003480);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-globe {
  position: absolute;
  z-index: -1;
  bottom: 120px;
}

.hero-grid {
  position: absolute;
  bottom: -200px;
  left: -400px;
  width: 1200px;
  height: 400px;
  z-index: -2;
}

.video {
  width: 500px;
  height: 500px;
}

.hero-container {
  min-height: max(100vh, 850px);
  overflow: hidden;
}

.speakers {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(90deg, #301f2f, #000000);
}

.speakers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/glitch-min.jpg"); /* Your grainy texture image */
  opacity: 0.3; /* Adjust the opacity to control the intensity of the texture */
}

.info {
  min-height: 100vh;
  position: relative;
  background: rgb(32, 32, 32);
}
